html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Shakespeardle
		link(rel='icon' href='/icon.svg')
		link(rel='stylesheet' href='/index.css')
	
	body: #container
		header: h1 Shakespeardle
		main
		footer
