@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Lato:wght@300;400&display=swap');

$colorBackground: #222;
$colorForeground: #fff;
$colorGrayMid:    #666;
$colorGrayLight:  #999;
$colorValidLtr:   #aa2;
$colorValidPos:   #094;

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

body {
	background: $colorBackground;
	color: $colorForeground;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100%;
}

header {
	padding: 30px;
}

main {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;

	ul {
		padding: 2px;
		border: 1px solid transparent;

		&.complete li {
			background: $colorGrayMid;
		}

		li {
			width: 2em;
			height: 2em;
			line-height: 2em;
			font-family: 'Cinzel', serif;
			font-size: 2rem;
			font-weight: 600;
			text-align: center;
			border: 1px solid $colorGrayMid;

			&.active {
				box-shadow: inset 0 -10px 5px rgba(#fff, 0.2);
			}
		}
	}
}

footer {
	padding: 30px;

	ul {
		grid-template-columns: repeat(20, 1fr);

		li {
			grid-column-end: span 2;
			padding: 0 0.5em;
			height: 3em;
			line-height: 3em;
			text-align: center;
			font-weight: 400;
			background: $colorGrayLight;
			border-radius: 4px;
			cursor: pointer;
			user-select: none;

			&:nth-child(11) {
				grid-column-start: 2;
			}
			&#enter, &#backspace {
				grid-column-end: span 3;
			}

			&:hover {
				background-color: rgba($colorGrayLight, 0.8);
			}

			&.disabled {
				background: none;
			}
		}
	}
}

h1 {
	margin: 0;
	font-family: 'Cinzel', serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.25em;
}

b {
	font-weight: 400;
}

ul {
	list-style: none;
	position: relative;
	display: grid;
	gap: 3px;
	margin: 0;
	padding: 0;
	
	li {
		display: block;
		margin: 0;
		padding: 0;

		&.valid-letter {
			background: $colorValidLtr !important;
		}
		&.valid-position {
			background: $colorValidPos !important;
		}
	}
}
