@use 'color';

:root {
	--padding: 30px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

body {
	background: color.$background;
	color: color.$foreground;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	user-select: none;
}

#container {
	display: flex !important;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100%;
}

main {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--padding) 200px;

	ul {
		padding: 2px;
		border: 1px solid transparent;
		transform-style: preserve-3d;

		&.complete li:not(.valid-letter):not(.valid-position) {
			@include color.tileColor(color.$grayMid);
		}
		&.complete li {
			color: #000;
		}

		&.invalid {
			animation: invalid 2s;
		}

		li {
			width: 2em;
			height: 2em;
			line-height: 2em;
			font-family: 'Cinzel', serif;
			font-size: 2rem;
			font-weight: 600;
			text-align: center;
			border: 1px solid color.$grayMid;
			opacity: 0;

			&.active {
				box-shadow: inset 0 0 15px 5px rgba(#fff, 0.3);
			}
		}

		&.animate li {
			animation: flip 500ms both ease-in-out;

			@for $i from 1 through 8 {
				&:nth-child(#{$i + 1}) {
					animation-delay: #{$i * 100}ms;
				}
			}
		}

		&:last-child {
			li {
				border: none;
				background: none;
				animation: none;
				transition: opacity 3s;
			}
			&.show li {
				opacity: 1;
			}
		}
	}
}

ul {
	list-style: none;
	position: relative;
	display: grid;
	gap: 5px;
	margin: 0;
	padding: 0;
	
	li {
		position: relative;
		display: block;
		margin: 0;
		padding: 0;
		border-radius: 5px;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: -5px;
			right: -5px;
			bottom: -5px;
			left: -5px;
			opacity: 0;
			z-index: -1;
			transition: opacity 500ms, background-color 500ms;
		}

		&.valid-letter {
			@include color.tileColor(color.$validLtr);
			box-shadow: 0 0 8px 2px rgba(color.$validLtr, 0.5);
		}
		&.valid-position {
			@include color.tileColor(color.$validPos);
			box-shadow: 0 0 8px 2px rgba(color.$validPos, 0.5);
		}
	}
}

img {
	display: block;
}

.notify {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: -25px 0 0 -150px;
	padding: 0 30px;
	background: color.$grayMid;
	border-radius: 25px;
	box-shadow: 0 5px 10px rgba(#000, 0.5);
	z-index: 11;
	box-sizing: border-box;
	animation: notify 250ms;
}
