@use 'color';

aside {
	position: fixed;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	bottom: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	transform: translateY(100%);
	transition: transform 500ms ease-in-out, backdrop-filter 500ms ease-in-out;
	z-index: 10;
	overflow: hidden;
	border-radius: 10px 10px 0 0;
	box-shadow: -5px 0 10px rgba(#000, 0.5);

	body.show-stats & {
		transform: translateY(0%);
		backdrop-filter: blur(5px);
	}

	> header {
		padding: var(--padding) 0 0;
		background: rgba(color.$grayMid, 0.8);

		ul {
			grid-template-columns: repeat(4, 1fr);
			max-width: 500px;
			padding: var(--padding);

			li {
				b {
					display: block;
					font-size: 2rem;
				}
			}
		}
	}

	> figure {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		box-sizing: border-box;
		margin: 0;
		padding: var(--padding);
		background: rgba(mix(color.$grayMid, color.$grayDark), 0.85);

		@mixin segment($n, $color) {
			svg circle:nth-of-type(#{$n}) {
				stroke: $color;
			}
			figcaption ul li:nth-of-type(#{$n}):before {
				background: $color;
			}
		}

		h2 {
			width: 100%;
			margin-bottom: var(--padding);
		}

		svg {
			flex: 0 0 auto;
			position: relative;
			width: 9rem;
			height: 9rem;

			circle {
				fill: none;
				stroke-width: 1;
			}
		}

		figcaption {
			flex: 0 0 auto;
			display: block;
			margin: 0;
			padding: 20px;

			ul {
				list-style: none;
				display: block;
				margin: 0;
				padding: 0;

				li {
					position: relative;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;
					margin: 0.5em 0;
					padding: 0;
					text-align: left;
					text-transform: uppercase;
					font-size: 0.75rem;
					font-weight: 400;

					&:before {
						content: '';
						display: block;
						width: 0.75rem;
						height: 0.75rem;
						margin-right: 0.5rem;
						border-radius: 3px;
					}
				}
			}
		}

		@include segment(1, desaturate(lighten(color.$validPos, 15%), 30%));
		@include segment(2, desaturate(lighten(color.$validPos, 10%), 20%));
		@include segment(3, desaturate(lighten(color.$validPos, 5%), 10%));
		@include segment(4, color.$validPos);
		@include segment(5, darken(color.$validPos, 5%));
		@include segment(6, darken(color.$validPos, 8%));
		@include segment(7, darken(color.$validPos, 12%));
	}

	> footer {
		padding: var(--padding);
		background: rgba(color.$grayDark, 0.85);

		> div {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding-bottom: var(--padding);
		}
		small {
			display: block;
			font-size: 0.8rem;
			line-height: 1.25em;
			margin-top: 10px;
			color: color.$foreground;
		}
	}
}

#shade {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	z-index: 9;
	opacity: 0;
	transform: translateY(-100%);
	transition: opacity 500ms, transform 0ms 500ms;
	z-index: 9;

	body.show-stats &, #loading + & {
		opacity: 0.5;
		transform: translateY(0%);
		transition: opacity 500ms, transform 0ms;
	}
}
